#title1{
  text-align: center;
  font-family: 'Balsamiq Sans', cursive;
font-family: 'Rubik', sans-serif;
color: green;
font-size: 45px;
}
#pucb{
  font-size: 25px;
  font-family: 'Balsamiq Sans', cursive;
font-family: 'Rubik', sans-serif;
}
