<link rel="stylesheet"
href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css"
integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l"
crossorigin="anonymous"
>
<!--  AREA FUENTES-->

<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Balsamiq+Sans&display=swap" rel="stylesheet">

<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Balsamiq+Sans&family=Rubik:ital,wght@1,300&display=swap" rel="stylesheet">

<div class="text-center">
<h1>{{title}}</h1>
</div>
<div class="container">
  <div class="card text-center">
    <div class="row row-cols-1 row-cols-md-2">
      <div class="col mb-4">
        <div class="card text-success bg-dark">
          <div class="text-center">
            <div class="card-header">
              <h5>{{frameone}}</h5>
            </div>
          <img src="../../assets/Images/reactlogo.png" class="card-img-top" id="img">
        </div>
          <div class="card-body">

            <p class="card-text">{{contone}}</p>
          </div>
          <div class="card-footer bg-transparent border-dark">
            <a href="https://es.reactjs.org/" target="_blank" class="btn btn-light">VISITAR SITIO</a>
          </div>
        </div>
      </div>
      <div class="col mb-4">
        <div class="card text-success bg-dark">
          <div class="card-header">
            <h5>{{frametwo}}</h5>
          </div>
          <div class="text-center">
          <img src="../../assets/Images/vuelogo.png" class="card-img-top" id="img">
        </div>
          <div class="card-body">
            <p class="card-text">{{conttwo}}</p>
          </div>
          <div class="card-footer bg-transparent border-dark">
            <a href="https://vuejs.org/" target="_blank" class="btn btn-light">VISITAR SITIO</a>
          </div>
        </div>
      </div>
      <div class="col mb-4">
        <div class="card text-success bg-dark">
          <div class="card-header">
            <h5>{{frametree}}</h5>
          </div>
          <div class="text-center">
          <img src="../../assets/Images/angularlog.png" class="card-img-top" id="img">
        </div>
          <div class="card-body">

            <p class="card-text">{{conttree}}</p>
          </div>
          <div class="card-footer bg-transparent border-dark">
            <a href="https://angular.io/" target="_blank" class="btn btn-light">VISITAR SITIO</a>
          </div>
        </div>
      </div>
      <div class="col mb-4">
        <div class="card text-success bg-dark">
          <div class="card-header">
            <h5>{{framefour}}</h5>
          </div>
          <div class="text-center">
          <img src="../../assets/Images/springlogo.png" class="card-img-top" id="img">
        </div>
          <div class="card-body">
            <p class="card-text">{{contfour}}</p>
          </div>
          <div class="card-footer bg-transparent border-dark">
            <a href="https://spring.io/" target="_blank" class="btn btn-light">VISITAR SITIO</a>
          </div>
        </div>
      </div>
      <div class="col mb-4">
        <div class="card text-success bg-dark">
          <div class="card-header">
            <h5>{{framefive}}</h5>
          </div>
          <div class="text-center">
          <img src="../../assets/Images/djangologo.jpg" class="card-img-top" id="img">
        </div>
          <div class="card-body">

            <p class="card-text">{{contfive}}</p>
          </div>
          <div class="card-footer bg-transparent border-dark">
            <a href="https://www.djangoproject.com/x" target="_blank" class="btn btn-light">VISITAR SITIO</a>
          </div>
        </div>
      </div>
      <div class="col mb-4">
        <div class="card text-success bg-dark">
          <div class="card-header">
            <h5>{{framesix}}</h5>
          </div>
          <div class="text-center">
          <img src="../../assets/Images/Ruby_on_Rails-Logo.png" class="card-img-top" id="img">
        </div>
          <div class="card-body">

            <p class="card-text">{{contsix}}</p>
          </div>
          <div class="card-footer bg-transparent border-dark">
            <a href="https://rubyonrails.org/" target="_blank" class="btn btn-light">VISITAR SITIO</a>
          </div>
        </div>
      </div>
      <div class="col mb-4">
        <div class="card text-success bg-dark">
          <div class="card-header">
            <h5>{{frameseven}}</h5>
          </div>
          <div class="text-center">
          <img src="../../assets/Images/NET_Core_Logo.png" class="card-img-top" id="img">
        </div>
          <div class="card-body">

            <p class="card-text">{{contseven}}</p>
          </div>
          <div class="card-footer bg-transparent border-dark">
            <a href="https://docs.microsoft.com/en-us/aspnet/core/?view=aspnetcore-5.0" target="_blank" class="btn btn-light">VISITAR SITIO</a>
          </div>
        </div>
      </div>
      <div class="col mb-4">
        <div class="card text-success bg-dark">
          <div class="card-header">
            <h5>{{frameeight}}</h5>
          </div>
          <div class="text-center">
          <img src="../../assets/Images/flask.png" class="card-img-top" id="img">
        </div>
          <div class="card-body">

            <p class="card-text">{{conteight}}</p>
          </div>
          <div class="card-footer bg-transparent border-dark">
            <a href="https://flask.palletsprojects.com/en/2.0.x/" target="_blank" class="btn btn-light">VISITAR SITIO</a>
          </div>
        </div>
      </div>
      <div class="col mb-4">
        <div class="card text-success bg-dark">
          <div class="card-header">
            <h5>{{framenine}}</h5>
          </div>
          <div class="text-center">
          <img src="../../assets/Images/expresslogo.png" class="card-img-top" id="img">
        </div>
          <div class="card-body">

            <p class="card-text">{{contnine}}</p>
          </div>
          <div class="card-footer bg-transparent border-dark">
            <a href="https://expressjs.com/es/" target="_blank" class="btn btn-light">VISITAR SITIO</a>
          </div>
        </div>
      </div>
      <div class="col mb-4">
        <div class="card text-success bg-dark">
          <div class="card-header">
            <h5>{{frameten}}</h5>
          </div>
          <div class="text-center">
          <img src="../../assets/Images/laravellogo.png" class="card-img-top" id="img">
        </div>
          <div class="card-body">

            <p class="card-text">{{contten}}</p>
          </div>
          <div class="card-footer bg-transparent border-dark">
            <a href="https://laravel.com/" target="_blank" class="btn btn-light">VISITAR SITIO</a>
          </div>
        </div>
      </div>
    </div>

  </div>

</div>

